body {
  margin: 40px;
  background-color: #eeee;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color:indigo;
  margin-bottom: 20px;
}

.home {
  font-size: 7rem;
}

p {
  font-size: 1.3rem;
  line-height: 2.2rem;
}

a {
  text-decoration: none;
  color:  indigo;
  font-weight: 600;
}

a:hover {
  color: palevioletred;
}

input {
  padding: 10px;
  border: none;
  border-radius: 3px;
  width: 15%;
  margin-right: 10px;
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: indigo;
  color: white;
  border: none;
  border-radius: 3px;
  width: 6%;
  cursor: pointer;
}

button:hover {
  background-color: palevioletred;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  font-size: 1.2rem;
  color: indigo;
}

.wall {
  width: 100%;
  margin-top: 25px;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: indigo;
  color: white;
}

td {
  padding: 5px 15px;
}

.wall tr:nth-child(even){background-color: #f2f2f2;}

.wall tr:hover {background-color: rgb(255, 224, 234);}

.delete {
  width: 100%;
  width: 100%;
  color: indigo;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}